.emailsec{
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 10px;
}

.pwsec{
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 10px;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
}

